
.textos{
    color: #488aff;
    background: none;
    text-align: center;
    a {
        color: #488aff;
    }
}

.titulo{
    padding-top: 20px;
    color:#000;
    background: none;
    text-align: center;
    font-weight: bold;
}

.centralizado {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto; 
}